@font-face {
    font-family: inter;
    font-weight: 700;
    src: url('./../fonts/Inter-Bold.otf');
}

@font-face {
    font-family: inter;
    font-weight: 500;
    src: url('./../fonts/Inter-Medium.otf');
}

@font-face {
    font-family: inter;
    font-weight: 400;
    src: url('./../fonts/Inter-Regular.otf');
}

@font-face {
    font-family: poppins;
    font-weight: 500;
    src: url('./../fonts/Poppins-Medium.ttf');
}
@font-face {
    font-family: poppins;
    font-weight: 400;
    src: url('./../fonts/Poppins-Regular.ttf');
}