@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.overflow-hidden {
    overflow: hidden;
}

body {
    //Самый частый шрифт
    font-family: inter;
    font-weight: 500;
    
    ////////////////////
}



.header {
    background: #333;
    margin-bottom: 30px;
    position: fixed;
    left: 0;
    right: 0;
    &__heigth {
        height: 69px;
        margin-bottom: 20px;
        visibility: hidden;
    }
    &__wrap  {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;

    }
    a {
        color: #fff;
        margin: 10px;
        transition: all .3s;
    }

    &__logo-link {
        font-size: 2.5rem;
    }

    &__menu {
        display: flex;
    }
    &__menu-link {
        &:hover {
            color: rgba(185, 185, 185, 0.856);
            text-decoration: underline;
        }
    }
}


.fish-text {
    &__text {
        text-indent: 40px;
        margin-bottom: 30px;
    }
}

.footer {
    background: #333;
    &__link {
        display: block;
        text-align: center;
        color: #fff;
        padding: 20px;
        &:hover {
            text-decoration: underline;
        }
    }
}



.modal {
    &__trigger {
    background: red;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 4px;
    z-index: 2;
    opacity: 0;
}

    
}

.lead-catcher {
    &.show {
        visibility: hidden;
        opacity: 0;
    }
    &__close {
        width: 26px;
        position: absolute;
        right: 10px;
        top: 10px;
        background: #fff;
        padding: 3px;
        border-radius: 50%;
        cursor: pointer;
    }
    transition: all .3s;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(34, 34, 34, 0.384);
    display: flex;
    justify-content: center;
    align-items: center;
     .container {
        max-width: 395px;
    }   

    &__window {
        background: #fff;
        max-width: 492px;    
        box-shadow: 0px 12px 24px rgba(18, 38, 63, 0.05);
        border-radius: 4px;
    }

    &__header {
        background: url('../images/lead-catcher__bg.png');
        background-position: right  bottom;
        height: 112px;
        position: relative;
    }

    &__header-title {
        font-family: poppins;
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
        color: $blue;
        padding-top: 16px;
        padding-bottom: 5px;
    }

    &__header-subtitle {
        max-width: 60%;
        color: $blue;
    }


    &__woman {
        position: relative;
        top: -25px;
        border-radius: 50%;
        border: 2px solid #fff;

    }

 

    &__name {
        display: flex;
        flex-direction: column;
    }

    &__name-label {
        font-family: poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
        color: #495057;
        margin-bottom: 4px;
        
    }

    &__name-input {
        margin-bottom: 20px;
        padding: 10px;
        outline: none;
        border: 1px solid #495057;
        border-radius: 4px;
    }

    &__ta {
        display: flex;
        flex-direction: column;
    }



    &__ta-ta {
        margin-bottom: 20px;
        resize: none;
        height: 80px;
    }

    &__submit {
        background: #556EE6;
        border-radius: 4px;
        outline: none;
        border: none;
        color: #fff;
        width: 100%;
        padding: 8px 0;
        cursor: pointer;
        transition: all .3s;
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 13px;
        &:hover {
            background: #304ddd;
        }
    }
}

@media (max-width:600px) {
    .header {
        &__menu {
            flex-direction: column;
        }
        &__menu-item {
           font-size: 1.5rem;
        }
    }
}